* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  outline: unset;
  border: none;
  cursor: pointer;
  border-color: unset;
}

main {
  padding: 10px;
  min-height: calc(100vh - 100px);
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

